* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.leaderboard {
    position: absolute;
    top: 0;
    left: .5rem;
    color: white;
    user-select: none;

    background: rgba(0, 0, 0, .7);
    border-radius: .5rem;
}

.leaderboard .title {
    margin-bottom: 1rem;
    text-decoration: underline;
    text-align: center;
}